<section class="container">
    <div class="users">
        <header>Chats</header>
        <div class="search-user">
            <div class="search">
                <li class="fas fa-search"></li><input type="text" placeholder="Busca un usuario">
            </div>
        </div>
        <div class="container-users">
            <div class="profile-user"></div>
            <div class="info-user">
                <span>Daniel Quiñonez</span>
                <span>Ultimo mensaje</span>
            </div>
        </div>
        <div class="container-users">
            <div class="profile-user"></div>
            <div class="info-user">
                <span>Daniel Quiñonez</span>
                <span>Ultimo mensaje</span>
            </div>
        </div>
    </div>
    <div class="chat">
        <header class="header-user">
            <div class="profile-user"></div>
            <div class="name-user">
                <span>Daniel Quiñonez</span>
            </div>
        </header>
        <div class="box-chat">
            <div class="message msg_sender">
                <p>Hola, como estas, me llamo daniel?</p>
            </div>
            <div class="message msg_receive">
                <p>Hola, como estas, me llamo daniel?</p>

            </div>
        </div>

        <div class="write-message">
            <li class="fas fa-microphone"></li>
            <div class="input">
                <input type="text" placeholder="Escribe aqui tu mensaje">
                <li class="fas fa-smile"></li>
            </div>
            <div class="button">
                <li class="fas fa-paper-plane"></li>
            </div>

        </div>

    </div>
</section>