<section class="post-detail">
    <div class="wiew-post-detail">
        <header class="heder-post">
            <span><b>Publicacion de Daniel Quiñonez</b></span>
            <div class="close-post"><i class="fas fa-close"></i></div>
        </header>
        <div class="body">
            <div class="user-info">
                <div class="profile-user"></div>
                <div class="name-user">
                    <span><b>Daniel Quiñonez</b></span>
                    <div class="info-date-post"><span>12-20-23 </span>
                        <li class="fas fa-globe"></li>
                    </div>
                </div>
            </div>
            <div class="content-post">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, natus quidem! Cupiditate esse rem
                expedita magni? Tempora aperiam doloremque quis libero. Reprehenderit, asperiores ratione aliquid
                recusandae deleniti quaerat culpa sapiente.
            </div>
            <div class="images-post">
                <div class="next">
                    <li class="fas fa-chevron-right"></li>
                </div>
                <div class="images">
                    <img src="../../../assets/blogging.webp" alt="">
                </div>
                <div class="prev">
                    <li class="fas fa-chevron-left"></li>
                </div>
            </div>
            <div class="comments-post">
                <div class="container-post">
                    <div class="user"></div>
                    <div class="comment">
                        <div class="name-user">
                            Daniel Quiñonez
                        </div>
                        <div class="content-comment">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo dolorum corrupti
                            distinctio
                            saepe optio! Mollitia obcaecati facilis facere aut veritatis incidunt nemo iure magni esse
                            quos,
                            itaque nulla distinctio a.
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</section>